@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* default font family styles */
body{
    font-family: 'Poppins', sans-serif !important;
}
.bg-overlay-custom{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}